@import "../../../styles/variables";

td {
  padding-right: 20px;
}

.first {
  padding-left: 20px;
}

.active {
  color: $active-color;
}

.vacant {
  color: $vacant-color;
}

.inactive {
  color: $inactive-color;
}

.bold {
  font-weight: 400;
  text-transform: uppercase;
}
