<td class="first">{{data?.createdOn | date: 'dd/MM/yy'}}</td>
<td><a href="javascript:void(0)" (click)="propertyClick()">{{data?.address}}</a></td>
<td
  class="bold"
  [class.active]="(data?.occupiedStats === status.active || data?.occupiedStats === status.occupied)"
  [class.vacant]="data?.occupiedStats === status.vacant"
  [class.inactive]="data?.occupiedStats === status.inactive"
>
  {{data?.occupiedStats}}
</td>
<td>{{data?.plan}}</td>
<td>
  <a href="javascript:void(0)" (click)="ownerClick()">{{data?.owner}}</a>
</td>
<td
  class="bold"
  [class.active]="data?.ownerStatus === status.active"
>
  {{data?.ownerStatus}}
</td>
<td><a href="javascript:void(0)" (click)="tenantClick()">{{data?.tenant?.firstName}} {{data?.tenant?.lastName}}</a></td>
<td
  class="bold"
  [class.active]="data?.tenant?.tenantStatus === status.active"
  [class.inactive]="data?.tenant?.tenantStatus === status.inactive"
>
  {{data?.tenant?.tenantStatus}}
</td>

