<div>
  <table class="styled-table">
    <thead>
    <tr class="header-tr">
      <th *ngFor="let column of displayedColumns">{{column}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of response"
        app-row
        [data]="data"
        (propertyClick)="openDialog($event, dialogTypes.address)"
        (ownerClick)="openDialog($event, dialogTypes.owner)"
        (tenantClick)="openDialog($event, dialogTypes.tenant)"
    >
    </tbody>
  </table>
  <div class="footer">
    <app-filters (changeProperty)="changeProperty($event)" (changeTenant)="changeTenant($event)"></app-filters>
    <app-paginator class="paginator" [length]="allCount || 0" (pageEvent)="changePage($event)"></app-paginator>
  </div>
</div>
