.styled-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header-tr > th:first-child {
  padding-left: 20px;
}


.styled-table thead tr {
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.styled-table th,
.styled-table td {
  padding: 15px 15px 15px 0;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

