<mat-form-field class="select">
  <mat-label>Property status</mat-label>
  <mat-select class="capitalize" [value]="status[0][1]" (valueChange)="changeProperty.emit($event)">
    <mat-option class="capitalize" *ngFor="let item of status" [value]="item[1]">
      {{item[0]}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="select">
  <mat-label>Tenant status</mat-label>
  <mat-select class="capitalize" [value]="tenantStatus[0][1]" (valueChange)="changeTenant.emit($event)">
    <mat-option class="capitalize" *ngFor="let item of tenantStatus" [value]="item[1]">
      {{item[0]}}
    </mat-option>
  </mat-select>
</mat-form-field>

