@import "../../../styles/variables";

.active {
  color: $active-color;
}

.vacant {
  color: $vacant-color;
}

.inactive {
  color: $inactive-color;
}

.bold {
  font-weight: 400;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
}

.margin {
  margin: 10px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
