<h1>{{dialogData.title}}</h1>
<div
  mat-dialog-content
  class="content"
>
  <mat-label class="margin">{{dialogData?.data?.text}}</mat-label>
  <mat-label
    class="margin bold"
    [class.active]="dialogData?.data?.status === status.active || dialogData?.data?.status === status.occupied"
    [class.vacant]="dialogData?.data?.status === status.vacant"
    [class.inactive]="dialogData?.data?.status === status.inactive"
  >{{dialogData?.data?.textStatus}}</mat-label>
</div>
<div class="footer">
  <button mat-button (click)="onNoClick()">OK</button>
</div>
